@model Taxi.Models.Cars
@{
    ViewBag.Title = "EditCar";
    Layout = "~/Views/Shared/_LayoutForAdministrator.cshtml";
}
<section class="content-wrapper">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ol>
        <li class="editMap">
            @Html.Label("Тип")
            @Html.TextBoxFor(m => m.Type)
        </li>
        <li class="editMap">
            @Html.Label("Номерний знак")
            @Html.TextBoxFor(m => m.NumberPlate)
        </li>
        <li class="editMap">
            @Html.Label("Опис")
            @Html.TextBoxFor(m => m.Description)
        </li>
        <li class="editMap">
            @Html.Label("Номер кузова")
            @Html.TextBoxFor(m => m.BodyNumber)
        </li>
        <li class="editMap">
            @Html.Label("Кілометраж")
            @Html.TextBoxFor(m => m.Kilometrage)
        </li>
        <li class="editMap">
            @Html.Label("Дата останнього ТО")
            @Html.TextBoxFor(m => m.DateOfLastTS)
        </li>
    </ol>
    <input  class="btn btn-success" style="margin-bottom:  20px; margin-left: 40px;" type="submit" value="Submit"/>
}
    </section>