@{
    ViewBag.Title = "MainAdminView";
    Layout = "~/Views/Shared/_LayoutForAdministrator.cshtml";
}

<div class="content-wrapper" style="margin: 20px auto;">

    @Html.ActionLink("Cars", "CIndex", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
@*    @Html.ActionLink("Переглянути замовлення", "ViewOrders", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Додати нового працівника", "AddEmployee", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Додати зміну", "NewShift",routeValues: null, htmlAttributes: new{ @class="btn btn-default"})
    @Html.ActionLink("Переглянути зміни", "ViewShifts",routeValues: null, htmlAttributes: new{ @class="btn btn-default"})
    @Html.ActionLink("Додати нове авто", "AddCar",routeValues: null, htmlAttributes: new{ @class="btn btn-default"})
    @Html.ActionLink("Переглянути всі авто", "ViewCars",routeValues: null, htmlAttributes: new{ @class="btn btn-default"})*@
</div>

